/** @format */

@font-face {
	font-family: ksDog;
	src: local(ksDog), url('./fonts/ksDog.ttf') format('truetype');
}

/* Small OLD devices like iphone SE (landscape phones, 375px and up ) */
@media (min-width: 300px) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}

	.sizesForHomeTitle {
		font-size: 100px;
		letter-spacing: 20px;
		line-height: 90px;
	}
	.sizesForPagesTitle {
		font-size: 60px;
		letter-spacing: 20px;
		line-height: 90px;
	}

	.decoratedFont {
		font-family: 'ksDog';
	}

	.mb-footer {
		margin-top: 7rem;
	}
}

